.container {
  padding: 3rem;
}
.wrapper {
  margin: 0 0 2rem 0;
  border-radius: 20px;
  padding: 5rem;
}

.description {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: bold;
  font-size: 3rem;
}

.button:hover {
}

.loading {
  background-color: white;
  margin-top: 1.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}
