.container {
  margin: 3rem 10rem;
  display: flex;
}
.wrapper {
  display: flex;
  width: 20rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.border:not(:last-child) {
  position: relative;
}

.border:not(:last-child):after {
  content: "";
  width: 1px;
  height: 7rem;
  border-right: 1px solid var(--light);
  top: 2rem;
  right: 0;
  position: absolute;
}
h3 {
  color: var(--light);
}

.icon {
  margin-bottom: 2rem;
}
